{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Details</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/read.css' %}" />
  </head>
  <body>
    <div class="container py-4">
      <h1>Student Management System</h1>

      <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
          <thead class="table-dark">
            <tr>
              <th>RegNo</th>
              <th>Name</th>
              <th>DOB</th>
              <th>Department</th>
              <th>City</th>
              <th>Phone</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for data in table_datas %}
            <tr>
              <td>{{ data.regno }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.dob }}</td>
              <td>{{ data.department }}</td>
              <td>{{ data.city }}</td>
              <td>{{ data.phone }}</td>
              <td>
                <a href="{% url "update" data.regno %}" class="btn btn-warning btn-sm">Update</a>
              </td>
              <td>
                <a href="{% url "delete" data.regno  %}" class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <a href="{% url "create" %}" class="btn btn-success mt-4 d-block mx-auto w-100 w-md-50">
        + Add New Student
      </a>
    </div>
  </body>
</html>
